body {
    background-color: #000;
    color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: 'Custom', 'Verdana', sans-serif;
}

@font-face {
    font-family: "Custom";
    src: url("Orbitron.ttf") format("truetype");
}

header {
    font-family: 'Custom', 'Verdana', sans-serif;
}

#choices {
    display: flex;
    column-gap: 20px;
}

button {
    background-color:whitesmoke;
    border-radius: 8px;
    display:flex;
    flex-flow: row;
    align-items: end;
    justify-content: center;
}

button img {
    width: 150px;
    height: auto;
    margin: 20px;

}

main {
    margin: auto;
}

p {
    font-size: 24px;
    font-weight:900;
}