body {
    background-color: #d6d6d6;
    color: rgb(230, 199, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: 'Custom', 'Verdana', sans-serif;
}

@font-face {
    font-family: "Custom";
    src: url("Orbitron.ttf") format("truetype");
}

header {
    font-family: 'Custom', 'Verdana', sans-serif;
}

#choices {
    display: flex;
    column-gap: 20px;
}

button {
    background-color:rgb(209, 206, 206);
    display:flex;
    flex-flow: row;
    transition: all 0.08s;
    align-items: end;
    justify-content: center;
}

button:hover {
    scale: 1.02;
    border:rgb(230, 199, 29) solid 4px;
}

button img {
    width: 150px;
    height: auto;
    margin: 20px;

}

main {
    margin: auto;
}

p {
    font-size: 24px;
    font-weight:900;
}